# システムファイル
.DS_Store
Thumbs.db

# ログファイル
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 依存関係ディレクトリ
node_modules/

# ビルドディレクトリ
/dist
/build

# 環境変数ファイル
.env
.env.local
.env.*.local

# エディタディレクトリ
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
